<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
    <link href="../dist/style.css" rel="stylesheet">
    <link href="../public/custom.css" rel="stylesheet">
</head>
<body>
<div style="width: 40%; height: 40%; min-height: 300px" id="circle1" data-percent="55"></div>
<div style="width: 20%; height: 20%; min-height: 300px" id="circle2"></div>
<div id="circle6" class="circle-stat-point"></div>
<div style="width: 20%; height: 20%; min-height: 300px" id="circle3"></div>
<div style="width: 20%; height: 20%; min-height: 300px" id="circle4"></div>
<div style="width: 20%; height: 20%; min-height: 200px" id="circle5"></div>
<script type="text/javascript" src="{{htmlWebpackPlugin.files.chunks.main.entry}}"></script>
<script>
    (function() {
        circliful.initCircle({
            id: 'circle1',
            type: 'SimpleCircle',
            percent: 60,
            strokeGradient: ["#05a", "#0a5"],
            onStart: () => {
                console.log('custom start event1');
            },
            onAnimationEnd: () => {
                console.log('custom animation end event1');
            }
        });

        circliful.initCircle({
            percent: 40,
            id: 'circle2',
            type: 'SimpleCircle',
            icon: 'f179',
            text: 'TP Wins',
            textBelow: true,
            noPercentageSign: true
        });

        circliful.initCircle({
            percent: 40,
            id: 'circle6',
            type: 'SimpleCircle',
            point: true,
            pointSize: 100,
            foregroundCircleWidth: 95
        });

        circliful.initCircle({
            percent: 50,
            id: 'circle3',
            type: 'HalfCircle'
        });

        circliful.initCircle({
            percent: 99,
            id: 'circle4',
            type: 'HalfCircle',
            noPercentageSign: true
        });

        circliful.initCircle({
            percent: 75,
            id: 'circle5',
            type: 'PlainCircle',
            animation: 0,
        });
    })();

</script>
</body>
</html>
